{%- liquid
  assign featured_image = product.featured_media.preview_image
  assign render_image_width = 600
  assign image_widths = '300, 600, 1200, 2000'
  assign additional_classes = additional_classes | prepend: ' ' | default: ''
  assign focusable = focusable | default: false
-%}

<a href="{{ product.url }}"
  class="predictive-search__product{{ additional_classes }}"
  aria-label="{{ product.title | strip_html | escape }}"
  {% unless focusable %} tabindex="-1"{% endunless %}
>
  <div class="predictive-search__product-image">
    {%- render 'image',
      image: featured_image,
      width: render_image_width,
      widths: image_widths,
      sizes: '100vw',
      cover: true,
      placeholder_svg: 'product-apparel-1',
      preload: true -%}
  </div>

  <p class="predictive-search__product-title">
    {{ product.title | strip_html }}
  </p>
</a>
