<style>
  .background-size-cover img, .video-background img, .img-object-cover {
    display: block;
    object-fit: cover !important;
    width: 90%;
    height: 90%;
    min-height: 90%;
}
</style>
{%- liquid
  assign featured_image = product.featured_media.preview_image
  assign render_image_width = 600
  assign image_widths = '300, 600, 1200, 2000'
  assign additional_classes = additional_classes | prepend: ' ' | default: ''
  assign focusable = focusable | default: false
-%}


  <div class="predictive-search__product-image">
    {%- render 'image',
       href="{{ product.url }}
      image: featured_image,
      width: render_image_width,
      widths: image_widths,
      sizes: '100vw',
      cover: true,
      placeholder_svg: 'product-apparel-1',
      preload: true -%}
  </div>



